<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ingestartelemetriaadt.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9939a4af-9f64-4c3a-9274-97fc103e8ac8/resourcegroups/GrupoRecrusoNovhaTech/providers/Microsoft.Web/sites/IngestarTelemetriaADT</ResourceId>
    <UserName>$IngestarTelemetriaADT</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ingestartelemetriaadt.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>